{% if is_granted('teachers_assignment_message_thread_view') %}
    {% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}

    <div class="responsive-cell">
        <div class="box-type1">
            <div class="title">
                <span class="widget-title">{{ "teachers.assignment.message.entity_plural_label"|trans }}</span>
            </div>

            <div class="row-fluid">
                {{ dataGrid.renderGrid('teachers-thread-messages-grid', {'thread_id': entity.id}, {cssClass: 'inner-grid'}) }}
            </div>
        </div>
    </div>
{% endif %}
