{% import 'OroUIBundle::macros.html.twig' as ui %}
{% import 'OroEntityConfigBundle::macros.html.twig' as entityConfig %}

<div class="widget-content">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            {{ ui.renderProperty('teachers.assignment.assignment.subject.label'|trans, entity.subject) }}
            {{ ui.renderProperty('teachers.assignment.assignment.description.label'|trans, entity.description) }}

            {{ entityConfig.renderDynamicFields(entity) }}
        </div>
    </div>
</div>
