.desktop-version {
  .main-menu {
    background-color: #293b61;
  }

  .main-menu__header, .main-menu-sided {
    background-color: #102249;
  }

  .dropdown-level-1:not(.active) {
    &:hover {
      background-color: #f85945 !important;
    }
  }

  .dropdown-level-1.active .title {
    color: #68686a;
  }
}

.oro-datagrid {
  .grid-header-cell {
    background-color: #f85945;
  }

  .grid-header {
    overflow: hidden;
    border-radius: 5px;
  }
}

.link-icon-need-space {
  span {
    margin-right: 5px;
  }
}

.app-logo {
  background: transparent !important;
  font-size: 22px !important;
  color: #fff !important;
  text-indent: 0 !important;
  font-weight: bold !important;
}
