{% extends 'OroUIBundle:actions:index.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}
{% set gridName  = 'teachers-groups-grid' %}
{% set pageTitle = 'teachers.users.teacher_group.entity_plural_label'|trans %}


{% block navButtons %}
    {% import 'OroUIBundle::macros.html.twig' as UI %}

    {% if is_granted('teachers_group_create') %}
        <div class="btn-group">
            {{ UI.addButton({
                'path' : path('teachers_group_create'),
                'entity_label': 'teachers.users.teacher_group.entity_label'|trans,
            }) }}
        </div>
    {% endif %}
{% endblock %}
